<div class="container">
    <h1>Search Results</h1>
  
    <ul class="list-group">
      <% data.forEach(park => { %>
        <li class="list-group-item mt-3">
          <h4><%= park.fullName %></h4>
          <a class="btn btn-primary" href="/park/<%= park.parkCode %>">More Info &raquo;</a>
        </li>
      <% }) %>
    </ul>
  </div>